[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pytest = "*"
requests = "*"

[dev-packages]

[scripts]
server = "python server/main.py"

[requires]
python_version = "3.9"
